# modules
node_modules
npm-debug.log
packages/*/node_modules
packages/*/npm-debug.log
packages/*/error-log.log
.storybook/node_modules
.storybook/npm-debug.log
.storybook/yarn-error.log

# generated
coverage
.nyc*
*.log
*.cache
.eslintcache
package-lock.json

packages/*/lib

packages/*/coverage
packages/*/.nyc*
packages/*/*.log
packages/*/*.cache
packages/**/.eslintcache
packages/*/package-lock.json

.storybook/coverage
.storybook/.nyc*
.storybook/*.log
.storybook/*.cache
.storybook/.eslintcache
.storybook/package-lock.json

# macOS
.DS_STORE

# IDE / Editors
.idea/
